body,html {
	margin: 0px;
	padding: 0px;
	background-color: #333;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

* {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	  -moz-user-select: none;     /* Firefox all */
	  -ms-user-select: none;      /* IE 10+ */

	&:focus {
		outline : none;
	}
} 

header {
	background-color: #ffea00;
	margin-bottom: 50px;
	border:1px solid #dcca04;

	h1 {
		font-weight: 600;
		margin-top: 0px;
		padding-top: 0px;
		font-size:16px;
	}
}

.container {
	width: 100%;
	max-width: 700px;
	margin:0px auto; 

	.widget {
		width: 100%;
		background-color: #fff;
		border:1px solid #aaa;
		box-shadow: 0px 0px 110px -20px rgba(0,0,0,0.2);
		min-height: 150px;
		padding-bottom: 30px;

		.grey {
			color: #999;
		}

		button {
			transition: opacity linear 0.1s;
			
			&:hover {
				opacity:0.7;
				cursor: pointer;
			}

			&:active {
			  transform: translateY(2px);
			}
		}

		::-webkit-input-placeholder {
			color: #ccc;
			font-size: 12px;
		}

		.message {
			margin:0px auto;
			width: 500px;

			.success {
				border:1px solid green;
				color:green;
				padding: 5px;
				background-color: #d4ffd0;
			}

			.error {
				border:1px solid red;
				color:red;
				padding: 5px;
				background-color: #ffd0d0;
			}
		}
	}
}

