[data-controller="play"] {
	section {
		h2 {
			font-weight: 400;
		}

		p {
			font-size:14px;		
		}
		
		.time-up {
			color: red;
		}

		.player-select {
			.player-move {
				background-color: #ffea00;
				padding: 10px;
				margin:5px;
				border-radius: 50%;
				display: inline-block;
				cursor: pointer;

				&:hover {
					transition: all linear 0.1s;
					padding: 15px;
					margin:0px;
					background-color: #ffcc00;
				}

				&:active {

				}
			}
		}

		.move-sets {
			display: none;
		}
	}
}